@use "variables" as vars;

.container-outer.crew {
    main  {
        .crew {
            &__tabs {
                margin-top: 3.2em;
                position: relative;
                z-index: 1;

                &__list {
                    z-index: 2;
                    display: flex;
                    justify-content: center;
                    gap: 1.6em;
                    position: absolute;
                    top: -3px;
                    top: 25.5em;
                    left: 50%;
                    transform: translateX(-50%);

                    *[role="tab"] {
                        $dimension: 10px;
                        width: $dimension;
                        height: $dimension;
                        border-radius: 50%;
                        border: none;
                        opacity: .2;

                        &[aria-selected="true"] {
                            opacity: 1;
                        }
                    }
                }

                &__panel {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 100%;
                        top: 22.3em;
                        height: 1px;
                        background-color: rgba(vars.$cl-secondary, .2);
                    }

                    .panel__title {
                        font-family: vars.$ff-accent;
                        font-weight: 400;
                        font-size: 1.6rem;
                        text-transform: uppercase;
                        opacity: .5;
                        margin-bottom: .5em;
                    }

                    .panel__name {
                        font-family: vars.$ff-accent;
                        font-weight: 400;
                        font-size: 2.4rem;
                        text-transform: uppercase;
                    }

                    .panel__img {
                        height: 223px;
                        margin-inline: auto;
                        margin-bottom: 7.2em;
                    }

                    .panel__body {
                        font-family: vars.$ff-primary;
                        font-size: 1.5rem;
                        line-height: 1.666665;
                        color: vars.$cl-accent;
                        margin: 1.06666666667em 0 6.93333333333em;
                    }
                }
            }
        }
    }
}


@media (min-width: vars.$tablet) {
    .container-outer.crew {
        main  {
            .crew {
                &__tabs {
                    margin-top: 6em;

                    &__list {
                        border-top: none;
                        top: 22.2em;
                    }

                    &__panel {
                        &::before {
                            display: none;
                        }

                        &:not([hidden]) {
                            display: flex;
                            flex-direction: column;
                        }

                        .panel__title {
                            font-size: 2.4rem;
                            margin-bottom: 0.33333333333em;
                        }

                        .panel__name {
                            font-size: 4rem;
                        }

                        .panel__body {
                            font-size: 1.6rem;
                            line-height: 1.75em;
                            max-width: 592px;
                            margin: 1em auto 0 auto;
                        }

                        .panel__img {
                            order: 1;
                            margin-top: 9em;
                            height: 572px;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: vars.$desktop) {
    .container-outer.crew {
        position: relative;

        main  {
            .crew {
                text-align: left;
                &__tabs {
                    margin-top: 0;

                    &__list {
                        left: 0;
                        top: auto;
                        bottom: 9.4em;
                        transform: none;

                        *[role="tab"] {
                            $dimension: 15px;
                            width: $dimension;
                            height: $dimension;
                        }
                    }

                    &__panel {
                        &:not([hidden]){
                            display: grid;
                            grid-template-columns: 1fr 568px;
                            column-gap: 8.15em;
                        }

                        .panel__title {
                            grid-column: 1 / 2;
                            margin-top: 4.8125em;
                            font-size: 3.2rem;
                            margin-bottom: 0.46875em;
                        }

                        .panel__name {
                            grid-column: 1 / 2;
                            font-size: 5.6rem;
                        }

                        .panel__body {
                            grid-column: 1 / 2;
                            font-size: 1.8rem;
                            line-height: 1.77777777778em;
                            margin: 1.5em 0 0 0;
                        }

                        .panel__img {
                            order: 0;
                            grid-column: 2 / 3;
                            grid-row: 1 / 5;
                            height: 681px;
                            transform: none;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}