@use "variables" as vars;

.container-outer.destination {
    main  {
        .destinations {
            &__tabs {
                position: relative;

                &__list {
                    display: flex;
                    justify-content: center;
                    gap: 2.7em;
                    margin-top: 22.8em;

                    *[role="tab"] {
                        font-family: vars.$ff-secondary;
                        font-size: 1.4rem;
                        letter-spacing: .1685714em;
                        background: inherit;
                        color: vars.$cl-accent;
                        border: none;
                        padding-bottom: 0.57142857em;
                        border-bottom: solid .2142857em rgba(vars.$cl-secondary, 0);

                        &:hover,
                        &[aria-selected="true"] {
                            color: vars.$cl-secondary;
                            border-bottom: solid .2142857em rgba(vars.$cl-secondary, 1);
                        }
                    }
                }

                &__panel {
                    &[hidden="true"] {
                        display: none;
                    }

                    .panel__img {
                        $dimension: 17em;
                        position: absolute;
                        bottom: calc(100% + 2.6em);
                        left: 50%;
                        transform: translateX(-50%);
                        width: $dimension;
                        height: $dimension;
                    }

                    .panel__title {
                        margin-top: .357142857em;
                        font-family: vars.$ff-accent;
                        font-weight: 400;
                        font-size: 5.6rem;
                        text-transform: uppercase;
                    }

                    .panel__body {
                        font-family: vars.$ff-primary;
                        font-size: 1.5rem;
                        line-height: 1.666665;
                        color: vars.$cl-accent;
                        padding-bottom: 2.133333em;
                        border-bottom: solid 1px vars.$cl-highlight;
                    }

                    .stats {
                        margin-top: 3.2em;
                        display: flex;
                        flex-direction: column;
                        gap: 3.2em;

                        &__item {
                            text-transform: uppercase;

                            &__heading {
                                font-family: vars.$ff-secondary;
                                font-size: 1.4rem;
                                font-weight: 400;
                                letter-spacing: .1685715em;
                                color: vars.$cl-accent;
                                margin-bottom: .85714em;
                            }

                            &__body {
                                font-family: vars.$ff-accent;
                                font-size: 2.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: vars.$tablet) {
    .container-outer.destination {
        main {
            .destinations {
                &__tabs {
                    &__list {
                        margin-top: 41.3em;

                        *[role="tab"] {
                            font-size: 1.6rem;
                            letter-spacing: .1685714em;
                        }
                    }
                }

                &__tabs {
                    &__panel {
                        &[hidden="true"] {
                            display: none;
                        }

                        .panel__img {
                            $dimension: 30em;
                            width: $dimension;
                            height: $dimension;
                            bottom: calc(100% + 5.3em);
                        }

                        .panel__title {
                            margin-top: .4em;
                            font-size: 8rem;
                        }

                        .panel__body,
                        .stats {
                            width: 573px;
                            margin-inline: auto;
                        }

                        .panel__body {
                            font-size: 1.6rem;
                            line-height: 28px;
                            padding-bottom: 3.0625em;
                        }

                        .stats {
                            margin-top: 2.9em;
                            margin-bottom: 6.2em;
                            flex-direction: row;
                            justify-content: center;
                            gap: 4em;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: vars.$desktop) {
    .container-outer.destination {
        main {
            .destinations {
                &__tabs {
                    width: 445px;
                    margin-left: 66.55em;

                    &__list {
                        justify-content: flex-start;
                        margin-top: 0;
                        margin-top: 6.4em;
                    }

                    &__panel {
                        text-align: left;

                        .panel__title {
                            font-size: 10rem;
                            margin-top: 0.37em;
                        }

                        .panel__body {
                            font-size: 1.8rem;
                            line-height: 1.77777777778em;
                            margin-top: 0.77777777777em;
                            padding-bottom: 3em;
                        }

                        .panel__img {
                            $dimension: 445px;
                            width: $dimension;
                            height: $dimension;
                            top: calc(0% + 3.9em);
                            left: auto;
                            bottom: auto;
                            right: calc(100% + 15.7em);
                            transform: none;
                        }

                        .panel__body,
                        .stats {
                            width: inherit;
                        }

                        .stats {
                            margin-top: 2.8em;
                            justify-content: flex-start;
                            gap: 7.9em;
                        }
                    }
                }
            }
        }
    }
}
