@use "variables" as vars;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
  color: vars.$cl-secondary;
}

.container {
  // width: minmax(vars.$mobile, vars.$desktop);
  min-width: calc(100vw - 2.4em);
  max-width: vars.$desktop;
  margin-inline: auto;
  padding: 2.4em;
  text-align: center;
  font-family: vars.$ff-primary;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  position: relative;

  &.home {
    background-image: url("../images/home/background-home-mobile.jpg");
  }

  &.destination {
    background-image: url("../images/destination/background-destination-mobile.jpg");
  }

  &.crew {
    background-image: url("../images/crew/background-crew-mobile.jpg");
  }

  &.technology {
    background-image: url("../images/technology/background-technology-mobile.jpg");
  }
}