@use "variables" as vars;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        $dimension: 40px;
        width: $dimension;
        height: $dimension;
    }
}

@media (min-width: vars.$tablet) {
    .header {
        &__logo {
            $dimension: 48px;
            width: $dimension;
            height: $dimension;

            img {
                width: 100%;
                height: 100%;
                margin-left: 4em;
            }
        }
    }
}

@media (min-width: vars.$desktop) {
    .header {
        margin-top: 4em;

        &__logo {
            margin-left: 5.5em;

            img {
                margin: 0;
            }
        }
    }
}