.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.8em;

    &__logo {
        $dimension: 40px;
        width: $dimension;
        height: $dimension;
    }
}