@use "variables" as vars;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        $dimension: 40px;
        width: $dimension;
        height: $dimension;
    }
}

@media (min-width: vars.$tablet) {
    .header {
        &__logo {
            $dimension: 48px;
            width: $dimension;
            height: $dimension;
            margin-left: 4em;
        }
    }
}