@use "variables" as vars;

.container-outer.home {
    main {
        margin-top: 4.8em;
    }
}

.home {
    &__text-top {
        font-family: vars.$ff-secondary;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: .16875em;
        color: vars.$cl-accent;
    }

    &__title {
        font-size: 8rem;
        font-family: vars.$ff-accent;
        font-weight: vars.$fw-regular;
        line-height: 1.25;
        text-transform: uppercase;
        color: vars.$cl-secondary;
        margin-block: .2em;
    }

    &__body {
        font-size: 1.5rem;
        font-family: vars.$ff-primary;
        line-height: 1.666667;
        color: vars.$cl-accent;
        margin-bottom: 5.333333em;
    }

    &__explore {
        display: block;
        margin-inline: auto;
        $dimension: 15rem;
        width: $dimension;
        height: $dimension;
        background-color: vars.$cl-secondary;
        border-radius: 50%;
        color: vars.$cl-primary;
        font-family: vars.$ff-accent;
        font-size: 2rem;
        letter-spacing: 1.25px;
        text-decoration: none;
        text-transform: uppercase;
        line-height: $dimension;
        margin-bottom: 1.2em;
    }
}

@media (min-width: vars.$tablet) {
    .container-outer.home {
        main {
            width: 450px;
            margin: 10.6em auto 9em;
        }
    }

    .home {
        &__text-top {
            font-size: 2rem;
        }

        &__title {
            font-size: 15rem;
            margin-block: .16em;
        }

        &__body {
            font-size: 1.6rem;
            line-height: 1.75;
            margin-bottom: 0;
        }

        &__explore {
            $dimensions: 242px;
            height: $dimensions;
            width: $dimensions;
            line-height: $dimensions;
            margin-bottom: 0;
            margin-top: 4.875em;
            font-size: 3.2rem;
            letter-spacing: 2px;
        }
    }
}


@media (min-width: vars.$desktop) {
    .container-outer.home {
        main {
            margin: 0;
            width: 100%;
            text-align: left;

            .home {
                $dimension: 274px;
                display: grid;
                grid-template-columns: 450px $dimension;
                margin-top: 25.1em;
                justify-content: center;
                column-gap: 38.6em;

                & > * {
                    grid-column: 1 / 2;
                }

                &__text-top {
                    font-size: 2.8rem;
                }

                &__title {
                    font-size: 15rem;
                    margin-block-start: .1em;
                }

                &__body {
                    font-size: 1.8rem;
                    line-height: 1.77777775;
                }

                &__explore {
                    height: $dimension;
                    width: $dimension;
                    line-height: $dimension;
                    grid-column: 2 / -1;
                    grid-row: 1 / 4;
                    text-align: center;
                    margin-top: 3.6em;
                    // justify-content: end;
                    outline: 0 solid rgba(vars.$cl-secondary, .1);
                    transition: outline .1s linear;

                    &:focus,
                    &:hover {
                        outline: 88px solid rgba(vars.$cl-secondary, .1);
                    }
                }
            }
        }
    }
}