.nav {
    overflow: hidden; // nav can still be scrolled to

    &__btn,
    &__list {
        top: 0;
    }

    &__btn {
        position: relative;
        z-index: 2; // Allow it to be clickable
        width: 2.4em;
        height: 2.1em;
    }

    &__list {
        right: 0;
        position: absolute;
        list-style-type: none;
        z-index: 1; // Allow the button to be clickable
        transform: translateX(100%);
        transition: transform .2s ease-in-out;
        background-color: yellow;

        &:focus-within,
        &.open {
            transform: translateX(0);
        }
    }
}