@use "variables" as vars;

.container-outer.technology {
    main  {
        .technology {
            &__tabs {
                position: relative;
                margin-top: 3.2em;

                &__list {
                    position: absolute;
                    top: 20.4em;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    justify-content: center;
                    gap: 1.6em;

                    *[role="tab"] {
                        $dimension: 40px;
                        width: $dimension;
                        height: $dimension;
                        border-radius: 50%;
                        border: solid 1px rgba(vars.$cl-secondary, .2);
                        font-size: 1.6rem;
                        line-height: 1.6em;
                        background-color: vars.$cl-primary;
                        color: vars.$cl-secondary;

                        &:focus,
                        &[aria-selected="true"] {
                            background-color: vars.$cl-secondary;
                            color: vars.$cl-primary;
                        }
                    }
                }

                &__panel {
                    .panel__terminology {
                        font-family: vars.$ff-secondary;
                        font-weight: 400;
                        font-size: 1.4rem;
                        text-transform: uppercase;
                        margin-bottom: 0.64285714285em;
                        color: vars.$cl-accent;
                        letter-spacing: 0.16857142857em;
                    }

                    .panel__name {
                        font-family: vars.$ff-accent;
                        font-weight: 400;
                        font-size: 2.4rem;
                        text-transform: uppercase;
                    }

                    .panel__img {
                        margin-bottom: 10em;
                        background-size: cover;
                        width: calc(100vw + 2.4em);
                        margin-left: -2.4em;
                        height: 170px;

                        &.vehicle{
                            background-image: url("../images/technology/image-launch-vehicle-landscape.jpg");
                        }

                        &.spaceport{
                            background-image: url("../images/technology/image-spaceport-landscape.jpg");
                        }

                        &.capsule{
                            background-image: url("../images/technology/image-space-capsule-landscape.jpg");
                        }
                    }

                    .panel__body {
                        font-family: vars.$ff-primary;
                        font-size: 1.5rem;
                        line-height: 1.666665;
                        color: vars.$cl-accent;
                        margin: 1.06666666667em 0 6.93333333333em;
                    }
                }
            }
        }
    }
}



@media (min-width: vars.$tablet) {
    .container-outer.technology {
        main  {
            .technology {
                &__tabs {
                    margin: 6em 0 9.7em;

                    &__list {
                        top: 36.6em;
                        *[type="button"] {
                            $dimension: 2.5em;
                            height: $dimension;
                            width: $dimension;
                            font-size: 2.4rem;
                        }
                    }

                    &__panel {

                        .panel__terminology {
                            font-size: 1.6rem;
                            margin-bottom: 1em;
                        }

                        .panel__name {
                            font-size: 4rem;
                        }

                        .panel__body {
                            font-size: 1.6rem;
                            line-height: 1.75em;
                            max-width: 458px;
                            margin-top: 1em;
                            margin-bottom: 0;
                            margin-inline: auto;
                        }

                        .panel__img {
                            height: 310px;
                            margin-left: 0;
                            margin-bottom: 16em;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: vars.$desktop) {
    .container-outer.technology {
        main  {
            .technology {
                &__tabs {
                    margin-top: 13.7em;
                    display: grid;
                    grid-template-columns: 80px 1fr;
                    column-gap: 8em;

                    &__list {
                        position: initial;
                        top: auto;
                        left: auto;
                        transform: none;
                        justify-content: initial;
                        grid-column: 1 / 2;
                        display: flex;
                        flex-direction: column;
                        gap: 3.2em;
                        margin-right: 8em;

                        *[type="button"] {
                            font-size: 3.2rem;
                        }
                    }

                    &__panel {
                        text-align: left;
                        margin-top: 0;

                        &:not([hidden]) {
                            display: grid;
                            grid-template-columns: 1fr 515px;
                        }

                        .panel__terminology {
                            margin-bottom: .6875em;
                            grid-column: 1 / 2;
                        }

                        .panel__name {
                            font-size: 5.6rem;
                            grid-column: 1 / 2;
                        }

                        .panel__body {
                            font-size: 1.8rem;
                            line-height: 1.77777777778em;
                            margin-inline: 0;
                            margin-top: 0.94444444444em;
                            margin-bottom: 6.93333em;
                            grid-column: 1 / 2;
                        }

                        .panel__img {
                            width: 515px;
                            height: 527px;
                            margin: 0;
                            grid-column: 2 / 3;
                            grid-row: 1 / 5;

                            &.vehicle{
                                background-image: url("../images/technology/image-launch-vehicle-portrait.jpg");
                            }

                            &.spaceport{
                                background-image: url("../images/technology/image-spaceport-portrait.jpg");
                            }

                            &.capsule{
                                background-image: url("../images/technology/image-space-capsule-portrait.jpg");
                            }
                        }
                    }
                }
            }
        }
    }
}