$vulcan: #0b0d17;
$tropical: #D0D6F9;
$white: #fff;
$bright_gray: #383B4B;
$mirage: #151823;

$cl-primary: $vulcan;
$cl-secondary: $white;
$cl-accent: $tropical;
$cl-highlight: $bright_gray;
$cl-special: $mirage;

$desktop: 1440px;
$tablet: 768px;
$mobile: 375px;

$ff-primary: "Barlow", sans-serif;
$ff-secondary: "Barlow Condensed", sans-serif;
$ff-accent: "Bellefair", sans-serif;

$fw-regular: 400;

$tablet: 768px;
$desktop: 1440px;